In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('checkins copy.txt', sep="\t", header=None, names=['user_id', 'item_id', 'timestamp'])

In [20]:
df['checkin_count'] = df.groupby(['user_id', 'item_id'])['item_id'].transform('count')

In [21]:
df.sort_values(by='checkin_count', ascending=False, inplace=True)

In [22]:
df["checkin_count"].unique()

array([239, 207, 180, 173, 166, 158, 154, 140, 135, 131, 118, 115, 114,
       111, 110, 109, 103, 102,  99,  96,  94,  87,  86,  85,  84,  83,
        82,  81,  79,  78,  77,  75,  73,  72,  71,  70,  69,  67,  66,
        65,  64,  63,  62,  60,  59,  58,  57,  56,  55,  54,  53,  52,
        51,  50,  49,  48,  47,  46,  45,  44,  43,  42,  41,  40,  39,
        38,  37,  36,  35,  34,  33,  32,  31,  30,  29,  28,  27,  26,
        25,  24,  23,  22,  21,  20,  19,  18,  17,  16,  15,  14,  13,
        12,  11,  10,   9,   8,   7,   6,   5,   4,   3,   2,   1])

In [26]:
list = ["train.txt", "test.txt", "tune.txt"]
df_list = []
for i in list:
    df = pd.read_csv(i, sep="\t", header=None, names=['user_id', 'item_id', 'checkin_count'])
    df_list.append(df)

full_data = pd.concat(df_list)

In [30]:
full_data.sort_values(by='checkin_count', ascending=False, inplace=True)

In [31]:
full_data

       user_id  item_id  checkin_count
11105     2820     6321             12
46287     2820     6321             12
46283     2820     6321             12
46284     2820     6321             12
46285     2820     6321             12
...        ...      ...            ...
26586     1229    31780              1
26588     1229    12310              1
26589     1229     8146              1
26590     1229    23692              1
11469     2999    17089              1

[75469 rows x 3 columns]