In [14]:
import pandas as pd
import os

dataset =  "brightkite"     # choose between "gowalla" and "brightkite"


DATASET_DIR = f"/Volumes/Forster Neu/Masterarbeit Data/{dataset}_dataset/"

In [15]:
checkin_df = pd.read_csv(DATASET_DIR + f"loc-{dataset}_totalCheckins.txt", sep="\t", header=None, names=['user_id', 'date', 'lat', 'lon', 'business_id'])
socials_df = pd.read_csv(DATASET_DIR + f"loc-{dataset}_edges.txt", sep="\t", header=None, names=['user_id', 'friend_id'])

In [16]:
checkin_df = checkin_df[~checkin_df['business_id'].isin(["00000000000000000000000000000000", "ede07eeea22411dda0ef53e233ec57ca"])]

In [17]:
checkin_df

,user_id,date,lat,lon,business_id
0,0,2010-10-17T01:48:53Z,39.747652,-104.992510,88c46bf20db295831bd2d1718ad7e6f5
1,0,2010-10-16T06:02:04Z,39.891383,-105.070814,7a0f88982aa015062b95e3b4843f9ca2
2,0,2010-10-16T03:48:54Z,39.891077,-105.068532,dd7cd3d264c2d063832db506fba8bf79
3,0,2010-10-14T18:25:51Z,39.750469,-104.999073,9848afcc62e500a01cf6fbf24b797732f8963683
4,0,2010-10-14T00:21:47Z,39.752713,-104.996337,2ef143e12038c870038df53e0478cefc
...,...,...,...,...,...
4747282,58222,2009-01-23T02:30:34Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747283,58224,2009-01-03T15:06:54Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747284,58225,2009-01-20T13:58:14Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747285,58226,2009-01-20T13:30:09Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747286,58227,2009-01-21T00:24:35Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0

In [18]:
def filter_df(df, min_reviews=10):
    while True:
        # Filter businesses with at least min_reviews reviews
        business_counts = df["business_id"].value_counts()
        business_mask = df['business_id'].map(business_counts) >= min_reviews
        df_filtered = df.loc[business_mask]

        # Filter users with at least min_reviews reviews
        user_counts = df_filtered['user_id'].value_counts()
        user_mask = df_filtered['user_id'].map(user_counts) >= min_reviews
        df_filtered = df_filtered.loc[user_mask]

        # If the size of the filtered DataFrame didn't change, break the loop
        if df_filtered.shape[0] == df.shape[0]:
            break

        # Update the DataFrame for the next iteration
        df = df_filtered

    return df_filtered

In [19]:
checkin_df_filtered = filter_df(checkin_df, min_reviews=10)

In [20]:
checkin_df_filtered

,user_id,date,lat,lon,business_id
1,0,2010-10-16T06:02:04Z,39.891383,-105.070814,7a0f88982aa015062b95e3b4843f9ca2
2,0,2010-10-16T03:48:54Z,39.891077,-105.068532,dd7cd3d264c2d063832db506fba8bf79
3,0,2010-10-14T18:25:51Z,39.750469,-104.999073,9848afcc62e500a01cf6fbf24b797732f8963683
4,0,2010-10-14T00:21:47Z,39.752713,-104.996337,2ef143e12038c870038df53e0478cefc
8,0,2010-10-13T03:57:23Z,39.827022,-105.143191,f6f52a75fd80e27e3770cd3a87054f27
...,...,...,...,...,...
4747187,58186,2008-12-31T19:46:34Z,39.739154,-104.984703,ee8b1d0ea22411ddb074dbd65f1665cf
4747188,58186,2008-12-08T23:49:07Z,39.633321,-105.317215,ee8b88dea22411dda02b03b8e03e14ab
4747189,58186,2008-12-03T21:09:14Z,39.633321,-105.317215,ee8b88dea22411dda02b03b8e03e14ab
4747190,58186,2008-11-30T22:30:12Z,39.633321,-105.317215,ee8b88dea22411dda02b03b8e03e14ab
4747192,58186,2008-11-26T17:08:25Z,39.633321,-105.317215,ee8b88dea22411dda02b03b8e03e14ab

In [21]:
checkin_df_filtered["business_id"].value_counts()

business_id
ee81ef22a22411ddb5e97f082c799f59    16384
ee8b1d0ea22411ddb074dbd65f1665cf    16167
ee78cc1ca22411dd9b3d576115a846a7    14005
eefadd1aa22411ddb0fd7f1c9c809c0c    11571
ecceeae0a22411dd831d5f56beef969a    10485
                                    ...
cde4715ea1fc11dd8418003048c0801e       10
e1d9cafcddba11ddac9b003048c10834       10
db06614289d011dd8d9b003048c0801e       10
a185d6d6e04d11ddba34003048c0801e       10
71f71de0a9bf11dda195003048c10834       10
Name: count, Length: 46717, dtype: int64

In [22]:
checkin_df_filtered["user_id"].value_counts()

user_id
13297    2100
13103    2100
13110    2100
13109    2100
27143    2100
         ...
20552      10
14423      10
52900      10
26885      10
10317      10
Name: count, Length: 18072, dtype: int64

In [23]:
checkin_df_filtered["business_id"].value_counts()

business_id
ee81ef22a22411ddb5e97f082c799f59    16384
ee8b1d0ea22411ddb074dbd65f1665cf    16167
ee78cc1ca22411dd9b3d576115a846a7    14005
eefadd1aa22411ddb0fd7f1c9c809c0c    11571
ecceeae0a22411dd831d5f56beef969a    10485
                                    ...
cde4715ea1fc11dd8418003048c0801e       10
e1d9cafcddba11ddac9b003048c10834       10
db06614289d011dd8d9b003048c0801e       10
a185d6d6e04d11ddba34003048c0801e       10
71f71de0a9bf11dda195003048c10834       10
Name: count, Length: 46717, dtype: int64

In [24]:
# Step 1: Calculate the value counts of `business_id`
value_counts = checkin_df_filtered['business_id'].value_counts().reset_index()
value_counts.columns = ['business_id', 'count']

# Step 2: Normalize the counts y dividing by the maximum value count
max_count = value_counts['count'].max()
value_counts['business_popularity'] = value_counts['count'] / max_count

# Step 3: Merge the normalized counts back into the original DataFrame
checkin_df_filtered = checkin_df_filtered.merge(value_counts[['business_id', 'business_popularity']], on='business_id', how='left')

In [25]:
def user_popularity_calculator(checkin_df_filtered, socials_df):
    # Filter out instances with the specified business_id
    try:
        checkin_df_filtered = checkin_df_filtered[checkin_df_filtered['business_id'] != "00000000000000000000000000000000"]
    except Exception as e:
        print("No such field found to filter out")
    # Calculate average popularity per user
    average_popularity_per_user = checkin_df_filtered.groupby('user_id')['business_popularity'].mean().reset_index()
    average_popularity_per_user.columns = ['user_id', 'average_popularity']

    average_popularity_per_user = average_popularity_per_user.sort_values(by="average_popularity", ascending=False)

    
    # Sort by average popularity
    

    # Get top 1000 users
    high_pop_user_df_sample = average_popularity_per_user.head(1100)
    
    # Get the middle 1000 users around the median
    median_index = len(average_popularity_per_user) // 2
    start_med_index = max(median_index - 550, 0)
    end_med_index = min(median_index + 550, len(average_popularity_per_user))
    med_pop_user_df_sample = average_popularity_per_user.iloc[start_med_index:end_med_index]
    
    # Get the lowest 1000 users
    low_pop_user_df_sample = average_popularity_per_user.tail(1100)

    unique_users = list(set(high_pop_user_df_sample["user_id"].tolist() + med_pop_user_df_sample["user_id"].tolist() + low_pop_user_df_sample["user_id"].tolist()))

    checkin_df_sample = checkin_df_filtered[checkin_df_filtered["user_id"].isin(unique_users)]

    checkin_df_sample = filter_df(checkin_df_sample, min_reviews=10)

    checkin_df_sample = checkin_df_sample[checkin_df_sample["user_id"].isin(unique_users)]



    socials_df_sample = socials_df.loc[socials_df["user_id"].isin(unique_users)]
    socials_df_sample = socials_df_sample.loc[socials_df_sample["friend_id"].isin(unique_users)]
    
    return checkin_df_sample, high_pop_user_df_sample, med_pop_user_df_sample, low_pop_user_df_sample, socials_df_sample

In [26]:
checkin_df_sample, high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample, socials_df_sample = user_popularity_calculator(checkin_df_filtered, socials_df)

3300

In [27]:
len(low_pop_user_df_sample)

1100

In [28]:
len(checkin_df_sample["user_id"].unique())

3062

In [30]:
checkin_df_sample["business_id"].value_counts()

business_id
ee81ef22a22411ddb5e97f082c799f59    12303
ee8b1d0ea22411ddb074dbd65f1665cf    12087
ee78cc1ca22411dd9b3d576115a846a7    11417
ecceeae0a22411dd831d5f56beef969a     9316
eefadd1aa22411ddb0fd7f1c9c809c0c     9067
                                    ...
eee07600a22411ddbdd4bbe5fdaa2f44       10
794bb788cebb11dd8092003048c10834       10
eb10f826cd31c9bb184f0e9ffaa39daa       10
c9592266f62411dd899e003048c0801e       10
4735e354db8611dd95b9003048c10834       10
Name: count, Length: 6793, dtype: int64

In [422]:
def data_saver(df, filename, framework):
    if not os.path.exists(DATASET_DIR + "processed_data_" + framework):
        os.makedirs(DATASET_DIR + "processed_data_" + framework)
    
    df.to_csv(DATASET_DIR + "processed_data_" + framework + "/" + filename + ".csv")
    print("Data saved as " + framework + filename + ".csv")

In [423]:
# first of all saving data for cornac
data_saver(checkin_df_sample, "user_events", "cornac")
data_saver(high_pop_user_df_sample, "high_pop_user_sample", "cornac")
data_saver(medium_pop_user_df_sample, "medium_pop_user_sample", "cornac")
data_saver(low_pop_user_df_sample, "low_pop_user_sample", "cornac")
data_saver(socials_df, "socials_sample", "cornac")

Data saved as cornacuser_events.csv
Data saved as cornachigh_pop_user_sample.csv
Data saved as cornacmedium_pop_user_sample.csv
Data saved as cornaclow_pop_user_sample.csv
Data saved as cornacsocials_sample.csv

In [424]:
def data_saver_recbole(df, framework, suffix):
    
    if not os.path.exists(DATASET_DIR + "processed_data_" + framework):
        os.makedirs(DATASET_DIR + "processed_data_" + framework)

    df.to_csv(f"{DATASET_DIR}processed_data_{framework}/{dataset}_sample.{suffix}", sep="\t", index=False)

In [425]:
checkin_df_sample['review_id'] = range(1, len(checkin_df_sample) + 1)

In [426]:
# Step 1: Group by user_id and business_id and count check-ins
checkin_df_sample['checkin_count'] = checkin_df_sample.groupby(['user_id', 'business_id'])['business_id'].transform('count')

In [427]:
business_sample = checkin_df_sample.groupby('business_id').first().reset_index()
business_sample = business_sample[["business_id", "lat", "lon"]]

In [428]:
user_df_sample = checkin_df_sample.groupby('user_id').size().reset_index(name='review_counts:float')
checkin_df_sample = checkin_df_sample[["review_id","user_id","business_id","date", "checkin_count"]]

In [429]:
def convert_to_unix_timestamp(df, column_name):
    """
    Convert a column of timestamps in a DataFrame to Unix timestamps.

    Args:
        df (pd.DataFrame): The DataFrame containing the timestamp column.
        column_name (str): The name of the column with timestamps in "%Y-%m-%d %H:%M:%S" format.

    Returns:
        pd.DataFrame: The DataFrame with an additional column for Unix timestamps.
    """
    # Convert the column to datetime objects
    df[column_name] = pd.to_datetime(df[column_name], format="mixed")
    
    # Convert datetime objects to Unix timestamps
    df[f'{column_name}'] = df[column_name].apply(lambda x: x.timestamp())
    
    return df

In [430]:
checkin_df_sample.rename(columns={"user_id":"user_id:token", "business_id":"item_id:token", "checkin_count":"rating:float", "date":"timestamp:float", "review_id": "review_id:token"}, inplace=True)
user_df_sample.rename(columns={"user_id":"user_id:token"}, inplace=True)
business_sample.rename(columns={"business_id": "item_id:token", "lat" : "lat:float", "lon" : "lon:float"}, inplace=True)

In [431]:
checkin_df_sample = convert_to_unix_timestamp(checkin_df_sample, "timestamp:float")

In [432]:
checkin_df_sample

,review_id:token,user_id:token,item_id:token,timestamp:float,rating:float
5175,1,5,8fde23d6245c11debf73003048c0801e,1.281655e+09,6
5179,2,5,427afd521bfc11deaa07003048c0801e,1.261629e+09,49
5183,3,5,ed128b88a22411dd947eb3052da0b148,1.255120e+09,1
5184,4,5,ee81ef22a22411ddb5e97f082c799f59,1.254609e+09,92
5185,5,5,ee6b8534a22411dd96da6f185082f76e,1.254515e+09,69
...,...,...,...,...,...
3001501,361573,58094,ee6940bca22411dda931877bea8d809f,1.237688e+09,8
3001502,361574,58094,ee6940bca22411dda931877bea8d809f,1.237681e+09,8
3001503,361575,58094,ee6940bca22411dda931877bea8d809f,1.237681e+09,8
3001504,361576,58094,ee6940bca22411dda931877bea8d809f,1.237680e+09,8
3001506,361577,58094,ee6940bca22411dda931877bea8d809f,1.235602e+09,8

In [433]:
user_df_sample

      user_id:token  review_counts:float
0                 5                  307
1                17                  591
2                21                 1323
3                27                  350
4                36                 1078
...             ...                  ...
2774          57916                   11
2775          57961                   25
2776          57982                   14
2777          58011                   43
2778          58094                   14

[2779 rows x 2 columns]

In [434]:
checkin_df_sample = checkin_df_sample.loc[checkin_df_sample["rating:float"] < 100]

checkin_df_sample.sort_values(by="rating:float", ascending=False)

checkin_df_sample = checkin_df_sample.drop_duplicates(subset=["user_id:token", "item_id:token"], keep="first")

In [435]:
checkin_df_sample

,review_id:token,user_id:token,item_id:token,timestamp:float,rating:float
5175,1,5,8fde23d6245c11debf73003048c0801e,1.281655e+09,6
5179,2,5,427afd521bfc11deaa07003048c0801e,1.261629e+09,49
5183,3,5,ed128b88a22411dd947eb3052da0b148,1.255120e+09,1
5184,4,5,ee81ef22a22411ddb5e97f082c799f59,1.254609e+09,92
5185,5,5,ee6b8534a22411dd96da6f185082f76e,1.254515e+09,69
...,...,...,...,...,...
3001170,361546,58011,1bc8ebb8dd7411dd95e2003048c0801e,1.233917e+09,12
3001492,361564,58094,ee6940bca22411dda931877bea8d809f,1.239667e+09,8
3001494,361566,58094,ee78cc1ca22411dd9b3d576115a846a7,1.238318e+09,2
3001495,361567,58094,ee825d7ca22411ddb4ee67f4865ff685,1.238218e+09,1
3001498,361570,58094,ee81ef22a22411ddb5e97f082c799f59,1.238124e+09,3

In [436]:
data_saver_recbole(checkin_df_sample, "recbole", "inter")
data_saver_recbole(user_df_sample, "recbole", "user")
data_saver_recbole(business_sample, "recbole", "item")

### Lastly, getting the data ready for CAPRI

In [85]:
# reverting to unix timestamps and only using the necessary columns
review_df_sample = checkin_df_sample.copy()
#ALMOST FINAL - STARS_BIN MUST BE REMOVED FOR checkins.txt AND date_unix FOR train/test/tune.txt
checkins_capri_min = review_df_sample[["user_id:token", "item_id:token", "timestamp:float"]]
checkins_capri_train_test_tune = review_df_sample[["user_id:token", "item_id:token", "timestamp:float", "rating:float"]]

In [86]:
# FINAL
checkins_capri_min

         user_id:token  item_id:token  timestamp:float
1068                 7         420315     1.287601e+09
1069                 7         420315     1.287589e+09
1070                 7          21714     1.287514e+09
1071                 7         420315     1.287501e+09
1074                 7          49904     1.287446e+09
...                ...            ...              ...
3301504         196505        3228931     1.284969e+09
3301505         196505        3228931     1.284710e+09
3301506         196505        3228931     1.284623e+09
3301507         196505        3228931     1.284537e+09
3301508         196505        3228931     1.284450e+09

[61520 rows x 3 columns]

In [87]:
len(checkins_capri_min["user_id:token"].unique())
len(checkins_capri_min["item_id:token"].unique())

print("Length of users: ", len(checkins_capri_min["user_id:token"].unique()))
print("Length of POIs: ", len(checkins_capri_min["item_id:token"].unique()))

Length of users:  1725
Length of POIs:  2834

In [88]:
# FINAL 3
datasize_capri = pd.DataFrame(data={"num_users" : [len(checkins_capri_min["user_id:token"].unique())], "num_items" : [len(checkins_capri_min["item_id:token"].unique())]})

In [89]:
datasize_capri

   num_users  num_items
0       1725       2834

In [90]:
# FINAL 4
poi_coos_capri = business_sample.copy()

In [91]:
user_df_sample = pd.concat([high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample])

In [92]:
# FINAL 5
socials_df_sample

         user_id  friend_id
5195           7         31
5196           7         52
5197           7         66
5202           7        111
5207           7        327
...          ...        ...
1892421   191687     191688
1892427   191688     191687
1895829   193597     178065
1897412   194530     183005
1897871   194796     184562

[1514 rows x 2 columns]

In [93]:
checkins_capri_train_test_tune

         user_id:token  item_id:token  timestamp:float  rating:float
1068                 7         420315     1.287601e+09            21
1069                 7         420315     1.287589e+09            21
1070                 7          21714     1.287514e+09             5
1071                 7         420315     1.287501e+09            21
1074                 7          49904     1.287446e+09             1
...                ...            ...              ...           ...
3301504         196505        3228931     1.284969e+09            11
3301505         196505        3228931     1.284710e+09            11
3301506         196505        3228931     1.284623e+09            11
3301507         196505        3228931     1.284537e+09            11
3301508         196505        3228931     1.284450e+09            11

[61520 rows x 4 columns]

In [104]:
checkins_capri_train_test_tune.sort_values(by="rating:float", ascending=False)

         user_id:token  item_id:token  timestamp:float  rating:float
672225            5739           9241     1.287592e+09           208
2623518         109755        1098520     1.287500e+09           201
888601           10677         608698     1.287582e+09           167
1435028          29105         372590     1.287592e+09           154
2724243         114984         777263     1.287324e+09           151
...                ...            ...              ...           ...
2252408          87256          69788     1.287251e+09             1
2932268         129943          59342     1.286435e+09             1
2921723         129077           9362     1.282608e+09             1
1120001          17023          79467     1.287760e+09             1
2112722          69180         419157     1.268845e+09             1

[1725 rows x 4 columns]

In [54]:
# splitting the data into train, test, and tune
checkins_capri_train_test_tune = checkins_capri_train_test_tune.sort_values(by=["user_id:token", "timestamp:float"])
checkins_capri_train_test_tune = checkins_capri_train_test_tune[["user_id:token", "item_id:token", "rating:float"]]

# Split the data
train_list = []
val_list = []
test_list = []

for user, group in checkins_capri_train_test_tune.groupby('user_id:token'):
    n = len(group)
    train_end = int(n * 0.65)
    val_end = int(n * 0.80)
    
    train_list.append(group.iloc[:train_end])
    val_list.append(group.iloc[train_end:val_end])
    test_list.append(group.iloc[val_end:])

# Combine lists into DataFrames
train_df = pd.concat(train_list)
val_df = pd.concat(val_list)
test_df = pd.concat(test_list)



# Check the splits

# FINAL 6-8
print("Train Set:")
print(train_df.head())
print("\nValidation Set:")
print(val_df.head())
print("\nTest Set:")
print(test_df.head())

Train Set:
       user_id:token                             item_id:token  rating:float
14064             17          eeb1943ea22411dd8482fba3141f3ee0            10
14063             17  8ab28cad3d310317903a46e1ce4260d83b2702c1             2
14062             17  8ab28cad3d310317903a46e1ce4260d83b2702c1             2
14061             17          ee8fa02ca22411ddb71a53435ccdb414             1
14060             17  e993f70d32a5a833baf8142d7d08fe22618bd7fc            12

Validation Set:
       user_id:token                     item_id:token  rating:float
13479             17  19fd6c8409cd11dea22e003048c0801e            29
13478             17  19fd6c8409cd11dea22e003048c0801e            29
13477             17  e2a94a2ae0f311ddaf37003048c0801e           155
13476             17  7fe68ec040b111dea8d7003048c0801e            12
13475             17  e2a94a2ae0f311ddaf37003048c0801e           155

Test Set:
       user_id:token                     item_id:token  rating:float
13344             17  1508ba54880311dd8d28003048c0801e            14
13343             17  3a839fa6811e11ddb2980030487eb504            19
13342             17  3e5fb9da515b11de9824003048c10834             4
13341             17  d855ea62b2ca11ddb284003048c10834             4
13340             17  7fe68ec040b111dea8d7003048c0801e            12

In [55]:
def datasaver_capri(df, filename):
    
    if not os.path.exists(DATASET_DIR + "processed_data_capri"):
        os.makedirs(DATASET_DIR + "processed_data_capri")
    df.to_csv(DATASET_DIR + "processed_data_capri/" + filename + ".txt", sep='\t', index=False, header=False)
    print("Data saved as " + filename + ".txt")

In [56]:
datasaver_capri(checkins_capri_min, "checkins")
datasaver_capri(datasize_capri, "dataSize")
datasaver_capri(poi_coos_capri, "poiCoos")
datasaver_capri(socials_df_sample, "socialRelations")
datasaver_capri(train_df, "train")
datasaver_capri(val_df, "tune")
datasaver_capri(test_df, "test")

Data saved as checkins.txt
Data saved as dataSize.txt
Data saved as poiCoos.txt
Data saved as socialRelations.txt
Data saved as train.txt
Data saved as tune.txt
Data saved as test.txt