In [3]:
import pandas as pd
import os


dataset = "foursquarenyc"

DATASET_DIR = f"/Volumes/Forster Neu/Masterarbeit Data/{dataset}_dataset/"

In [4]:
checkin_df = pd.read_csv(DATASET_DIR + "foursquare_data.csv", sep=",")

In [5]:
checkin_df

,userId,venueId,venueCategoryId,venueCategory,latitude,longitude,timezoneOffset,utcTimestamp
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
...,...,...,...,...,...,...,...,...
227423,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,Sat Feb 16 02:29:11 +0000 2013
227424,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,Sat Feb 16 02:31:35 +0000 2013
227425,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854365,-73.883070,-300,Sat Feb 16 02:33:16 +0000 2013
227426,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,Sat Feb 16 02:34:31 +0000 2013
227427,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,Sat Feb 16 02:35:36 +0000 2013

In [6]:
checkin_df.rename(columns={"userId": "user_id", "venueId": "business_id", "venueCategoryId" : "category_id", "utcTimestamp": "timestamp"}, inplace=True)

In [7]:
checkin_df["user_id"].nunique()

1083

In [8]:
print("Number of users, number of POIs", len(checkin_df["user_id"].unique()), len(checkin_df["business_id"].unique())
)
print("Sparsity:", 1 - len(checkin_df) / (len(checkin_df["user_id"].unique()) * len(checkin_df["business_id"].unique())))

Number of users, number of POIs 1083 38333
Sparsity: 0.9945217396687467

In [9]:
def filter_df(df, min_reviews=10):
    while True:
        # Filter businesses with at least min_reviews reviews
        business_counts = df["business_id"].value_counts()
        business_mask = df['business_id'].map(business_counts) >= min_reviews
        df_filtered = df.loc[business_mask]

        # Filter users with at least min_reviews reviews
        user_counts = df_filtered['user_id'].value_counts()
        user_mask = df_filtered['user_id'].map(user_counts) >= min_reviews
        df_filtered = df_filtered.loc[user_mask]

        # If the size of the filtered DataFrame didn't change, break the loop
        if df_filtered.shape[0] == df.shape[0]:
            break

        # Update the DataFrame for the next iteration
        df = df_filtered

    return df_filtered

In [10]:
checkin_df_filtered = filter_df(checkin_df, min_reviews=10)

In [11]:
sep_num = int(checkin_df_filtered["user_id"].nunique()/3)

In [12]:
# Step 1: Calculate the value counts of `business_id`
value_counts = checkin_df_filtered['business_id'].value_counts().reset_index()
value_counts.columns = ['business_id', 'count']

# Step 2: Normalize the counts y dividing by the maximum value count
max_count = value_counts['count'].max()
value_counts['business_popularity'] = value_counts['count'] / max_count

# Step 3: Merge the normalized counts back into the original DataFrame
checkin_df_filtered = checkin_df_filtered.merge(value_counts[['business_id', 'business_popularity']], on='business_id', how='left')

In [13]:
def user_popularity_calculator(checkin_df_filtered, sep_num):
    # Filter out instances with the specified business_id
    try:
        checkin_df_filtered = checkin_df_filtered[checkin_df_filtered['business_id'] != "00000000000000000000000000000000"]
    except Exception as e:
        print("No such field found to filter out")
    # Calculate average popularity per user
    average_popularity_per_user = checkin_df_filtered.groupby('user_id')['business_popularity'].mean().reset_index()
    average_popularity_per_user.columns = ['user_id', 'average_popularity']

    average_popularity_per_user = average_popularity_per_user.sort_values(by="average_popularity", ascending=False)

    
    # Sort by average popularity
    

    # Get top 1000 users
    high_pop_user_df_sample = average_popularity_per_user.head(sep_num)
    
    # Get the middle 1000 users around the median
    median_index = len(average_popularity_per_user) // 2
    start_med_index = max(median_index -int (sep_num/2), 0)
    end_med_index = min(median_index + int(sep_num/2), len(average_popularity_per_user))
    med_pop_user_df_sample = average_popularity_per_user.iloc[start_med_index:end_med_index]
    
    # Get the lowest 1000 users
    low_pop_user_df_sample = average_popularity_per_user.tail(sep_num)

    unique_users = list(set(high_pop_user_df_sample["user_id"].tolist() + med_pop_user_df_sample["user_id"].tolist() + low_pop_user_df_sample["user_id"].tolist()))

    checkin_df_sample = checkin_df_filtered[checkin_df_filtered["user_id"].isin(unique_users)]

    checkin_df_sample = filter_df(checkin_df_sample, min_reviews=10)

    checkin_df_sample = checkin_df_sample[checkin_df_sample["user_id"].isin(unique_users)]


    
    return checkin_df_sample, high_pop_user_df_sample, med_pop_user_df_sample, low_pop_user_df_sample

In [14]:
checkin_df_sample, high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample = user_popularity_calculator(checkin_df_filtered, sep_num)

In [15]:
len(checkin_df_sample["user_id"].unique())

1082

In [16]:
len(low_pop_user_df_sample)

361

In [17]:
# def data_sample_maker(high_pop_user_df, medium_pop_user_df, low_pop_user_df, checkin_df_filtered):
#     # sampling not necessary because the dataset is so small

#     high_pop_user_df_sample = high_pop_user_df.copy()
#     medium_pop_user_df_sample = medium_pop_user_df.copy()
#     low_pop_user_df_sample = low_pop_user_df.copy()

#     unique_users = list(set(high_pop_user_df_sample["user_id"].tolist() + medium_pop_user_df_sample["user_id"].tolist() + low_pop_user_df_sample["user_id"].tolist()))

#     checkin_df_sample = checkin_df_filtered.loc[checkin_df_filtered["user_id"].isin(unique_users)]

#     return checkin_df_sample, high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample

In [18]:
# checkin_df_sample, high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample = data_sample_maker(high_pop_user_df, medium_pop_user_df, low_pop_user_df, checkin_df_filtered)

In [19]:
def data_saver(df, filename, framework):
    if not os.path.exists(DATASET_DIR + "processed_data_" + framework):
        os.makedirs(DATASET_DIR + "processed_data_" + framework)
    
    df.to_csv(DATASET_DIR + "processed_data_" + framework + "/" + filename + ".csv")
    print("Data saved as " + framework + filename + ".csv")

In [20]:
# first of all saving data for cornac
data_saver(checkin_df_sample, "user_events", "cornac")
data_saver(high_pop_user_df_sample, "high_pop_user_sample", "cornac")
data_saver(medium_pop_user_df_sample, "medium_pop_user_sample", "cornac")
data_saver(low_pop_user_df_sample, "low_pop_user_sample", "cornac")

Data saved as cornacuser_events.csv
Data saved as cornachigh_pop_user_sample.csv
Data saved as cornacmedium_pop_user_sample.csv
Data saved as cornaclow_pop_user_sample.csv

In [21]:
def data_saver_recbole(df, framework, suffix):
    
    if not os.path.exists(DATASET_DIR + "processed_data_" + framework):
        os.makedirs(DATASET_DIR + "processed_data_" + framework)

    df.to_csv(f"{DATASET_DIR}processed_data_{framework}/{dataset}_sample.{suffix}", sep="\t", index=False)

In [22]:
checkin_df_sample['review_id'] = range(1, len(checkin_df_sample) + 1)
# Step 1: Group by user_id and business_id and count check-ins
checkin_df_sample['checkin_count'] = checkin_df_sample.groupby(['user_id', 'business_id'])['business_id'].transform('count')

In [23]:
business_sample = checkin_df_sample.groupby('business_id').first().reset_index()
business_sample.rename(columns={"latitude":"lat", "longitude":"lon"}, inplace=True)
business_sample = business_sample[["business_id", "lat", "lon"]]

In [24]:
user_df_sample = checkin_df_sample.groupby('user_id').size().reset_index(name='review_counts:float')
checkin_df_sample = checkin_df_sample[["review_id","user_id","business_id","timestamp", "checkin_count"]]

In [25]:
def convert_to_unix_timestamp(df, column_name):
    """
    Convert a column of timestamps in a DataFrame to Unix timestamps.

    Args:
        df (pd.DataFrame): The DataFrame containing the timestamp column.
        column_name (str): The name of the column with timestamps in "%Y-%m-%d %H:%M:%S" format.

    Returns:
        pd.DataFrame: The DataFrame with an additional column for Unix timestamps.
    """
    # Convert the column to datetime objects
    df[column_name] = pd.to_datetime(df[column_name], format="mixed")
    
    # Convert datetime objects to Unix timestamps
    df[f'{column_name}'] = df[column_name].apply(lambda x: x.timestamp())
    
    return df

In [26]:
checkin_df_sample.rename(columns={"user_id":"user_id:token", "business_id":"item_id:token", "checkin_count":"rating:float", "timestamp":"timestamp:float", "review_id": "review_id:token"}, inplace=True)
user_df_sample.rename(columns={"user_id":"user_id:token"}, inplace=True)
business_sample.rename(columns={"business_id": "item_id:token", "lat" : "lat:float", "lon" : "lon:float"}, inplace=True)

In [27]:
checkin_df_sample = convert_to_unix_timestamp(checkin_df_sample, "timestamp:float")

In [28]:
checkin_df_sample = checkin_df_sample.loc[checkin_df_sample["rating:float"] < 100]

checkin_df_sample.sort_values(by="rating:float", ascending=False)

checkin_df_timestamps = checkin_df_sample.copy()

checkin_df_sample = checkin_df_sample.drop_duplicates(subset=["user_id:token", "item_id:token"], keep="first")

In [29]:
business_sample

                 item_id:token  lat:float  lon:float
0     3fd66200f964a52000e71ee3  40.733596 -74.003139
1     3fd66200f964a52001e81ee3  40.756377 -73.967653
2     3fd66200f964a52003e71ee3  40.739685 -74.006020
3     3fd66200f964a52004e41ee3  40.718363 -73.990817
4     3fd66200f964a52004e61ee3  40.722842 -73.994116
...                        ...        ...        ...
5127  50dff1a7e4b0a36649c8402e  40.743355 -73.932838
5128  50e24527e4b0748c864c538b  40.756945 -73.986011
5129  510188aae4b055abaa8e5ca7  40.889077 -74.108426
5130  510c9f9de4b0ec5cc005fc87  40.741677 -74.004831
5131  51140198e4b0874a568cde81  40.757790 -73.981934

[5132 rows x 3 columns]

In [30]:
data_saver_recbole(checkin_df_sample, "recbole", "inter")
data_saver_recbole(user_df_sample, "recbole", "user")
data_saver_recbole(business_sample, "recbole", "item")

In [31]:
# reverting to unix timestamps and only using the necessary columns
review_df_sample = checkin_df_sample.copy()
checkins_capri_min = checkin_df_timestamps[["user_id:token", "item_id:token", "timestamp:float"]]

checkins_capri_train_test_tune = review_df_sample[["user_id:token", "item_id:token", "timestamp:float", "rating:float"]]

In [32]:
# FINAL 3
datasize_capri = pd.DataFrame(data={"num_users" : [len(checkins_capri_min["user_id:token"].unique())], "num_items" : [len(checkins_capri_min["item_id:token"].unique())]})

In [33]:
# FINAL 4
poi_coos_capri = business_sample.copy()
user_df_sample = pd.concat([high_pop_user_df_sample, medium_pop_user_df_sample, low_pop_user_df_sample])

In [35]:
poi_coos_capri

                 item_id:token  lat:float  lon:float
0     3fd66200f964a52000e71ee3  40.733596 -74.003139
1     3fd66200f964a52001e81ee3  40.756377 -73.967653
2     3fd66200f964a52003e71ee3  40.739685 -74.006020
3     3fd66200f964a52004e41ee3  40.718363 -73.990817
4     3fd66200f964a52004e61ee3  40.722842 -73.994116
...                        ...        ...        ...
5127  50dff1a7e4b0a36649c8402e  40.743355 -73.932838
5128  50e24527e4b0748c864c538b  40.756945 -73.986011
5129  510188aae4b055abaa8e5ca7  40.889077 -74.108426
5130  510c9f9de4b0ec5cc005fc87  40.741677 -74.004831
5131  51140198e4b0874a568cde81  40.757790 -73.981934

[5132 rows x 3 columns]

In [116]:
checkins_capri_min['user_id_int'], user_id_map = pd.factorize(checkins_capri_min['user_id:token'])
checkins_capri_min['business_id_int'], business_id_map = pd.factorize(checkins_capri_min['item_id:token'])

# FINAL 2.0
checkins_capri_min_int = checkins_capri_min[["user_id_int", "business_id_int", "timestamp:float"]]
# Create mapping dictionaries
user_id_mapping = {original: i for i, original in enumerate(user_id_map)}
business_id_mapping = {original: j for j, original in enumerate(business_id_map)}

poi_coos_capri["business_id_int"] = poi_coos_capri["item_id:token"].map(business_id_mapping)
# FINAL 2.0
poi_coos_capri_int = poi_coos_capri[["business_id_int", "lat:float", "lon:float"]]


# FINAL 2.0

checkins_capri_train_test_tune['user_id_int'] = checkins_capri_train_test_tune['user_id:token'].map(user_id_mapping)
checkins_capri_train_test_tune['business_id_int'] = checkins_capri_train_test_tune['item_id:token'].map(business_id_mapping)

/var/folders/9q/p0b6nwnd5071040x3849mdvc0000gn/T/ipykernel_94972/352362220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checkins_capri_min['user_id_int'], user_id_map = pd.factorize(checkins_capri_min['user_id:token'])

In [117]:
checkins_capri_train_test_tune = checkins_capri_train_test_tune[["user_id_int", "business_id_int", "rating:float", "timestamp:float"]]

In [118]:
poi_coos_capri_int.dropna(inplace=True)
poi_coos_capri_int["business_id_int"] = poi_coos_capri_int["business_id_int"].astype(int)

/var/folders/9q/p0b6nwnd5071040x3849mdvc0000gn/T/ipykernel_94972/2553544415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poi_coos_capri_int.dropna(inplace=True)
/var/folders/9q/p0b6nwnd5071040x3849mdvc0000gn/T/ipykernel_94972/2553544415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poi_coos_capri_int["business_id_int"] = poi_coos_capri_int["business_id_int"].astype(int)

In [119]:
remaining_businesses = poi_coos_capri_int["business_id_int"].values.tolist()

In [120]:
def filter_remaining_businesses(df, remaining_businesses):
    return df[df["business_id_int"].isin(remaining_businesses)]

In [121]:
# splitting the data into train, test, and tune
checkins_capri_train_test_tune = checkins_capri_train_test_tune.sort_values(by=["user_id_int", "timestamp:float"])
checkins_capri_train_test_tune = checkins_capri_train_test_tune[["user_id_int", "business_id_int", "rating:float"]]

# Split the data
train_list = []
val_list = []
test_list = []

for user, group in checkins_capri_train_test_tune.groupby('user_id_int'):
    n = len(group)
    train_end = int(n * 0.65)
    val_end = int(n * 0.80)
    
    train_list.append(group.iloc[:train_end])
    val_list.append(group.iloc[train_end:val_end])
    test_list.append(group.iloc[val_end:])

# Combine lists into DataFrames
train_df = pd.concat(train_list)
val_df = pd.concat(val_list)
test_df = pd.concat(test_list)



# Check the splits

# FINAL 6-8
print("Train Set:")
print(train_df.head())
print("\nValidation Set:")
print(val_df.head())
print("\nTest Set:")
print(test_df.head())

Train Set:
      user_id_int  business_id_int  rating:float
0               0                0             1
1               0                1            25
16              0               15             1
5686            0              116             3
5712            0             2366             1

Validation Set:
        user_id_int  business_id_int  rating:float
121461            0             2739             1
121505            0              185             1
121525            0              401             1
121558            0               65             1
121779            0             4120             1

Test Set:
        user_id_int  business_id_int  rating:float
127808            0             5811             2
138497            0              820             1
138696            0             6765             1
139514            0              571             1
157393            0               67             1

In [122]:
train_df

        user_id_int  business_id_int  rating:float
0                 0                0             1
1                 0                1            25
16                0               15             1
5686              0              116             3
5712              0             2366             1
...             ...              ...           ...
419845         2291              130             1
419904         2291             1942             1
420315         2291              156             1
421981         2291              903             4
428055         2291              888             1

[77769 rows x 3 columns]

In [123]:
def datasaver_capri(df, filename):
    
    if not os.path.exists(DATASET_DIR + "processed_data_capri"):
        os.makedirs(DATASET_DIR + "processed_data_capri")
    
    df.to_csv(DATASET_DIR + "processed_data_capri/" + filename + ".txt", sep='\t', index=False, header=False)
    print("Data saved as " + filename + ".txt")

In [124]:
checkins_capri_min_int

        user_id_int  business_id_int  timestamp:float
0                 0                0     1.333480e+09
1                 0                1     1.333482e+09
3                 1                2     1.333483e+09
4                 2                3     1.333483e+09
5                 2                4     1.333483e+09
...             ...              ...              ...
447565         2279             6492     1.360982e+09
447566         2279              566     1.360982e+09
447567          667             2102     1.360982e+09
447568         2276             1127     1.360982e+09
447569          746             3826     1.360982e+09

[404408 rows x 3 columns]

In [125]:
checkins_capri_min_int = filter_remaining_businesses(checkins_capri_min_int, remaining_businesses)
poi_coos_capri_int = filter_remaining_businesses(poi_coos_capri_int, remaining_businesses)
datasize_capri = pd.DataFrame(data={"num_users" : [len(checkins_capri_min_int["user_id_int"].unique())], "num_items" : [len(checkins_capri_min_int["business_id_int"].unique())]})
train_df = filter_remaining_businesses(train_df, remaining_businesses)
val_df = filter_remaining_businesses(val_df, remaining_businesses)
test_df = filter_remaining_businesses(test_df, remaining_businesses)

In [36]:
datasaver_capri(checkins_capri_min_int, "checkins")
datasaver_capri(datasize_capri, "dataSize")
datasaver_capri(poi_coos_capri_int, "poiCoos")
datasaver_capri(train_df, "train")
datasaver_capri(val_df, "tune")
datasaver_capri(test_df, "test")

NameError: name 'datasaver_capri' is not defined